[submodule "Matching_Distributions"]
	path = Matching_Distributions
	url = ../Matching_Distributions
[submodule "Bayes_Theorem"]
	path = Bayes_Theorem
	url = ../Bayes_Theorem
[submodule "Probability_Application"]
	path = Probability_Application
	url = ../Probability_Application
